# Manejo y

Importamos la libreria `pandas` para leer la base de datos en formato .csv y la denominamos `pd`.

In [6]:
import pandas as pd

In [7]:
datos=pd.read_csv('1.3. Intervalos de confianza.csv', sep=';|"', engine='python', usecols=range(0, 10), index_col=0,keep_default_na=False)
datos.iloc[0:5]

,Nacional,Unnamed: 2,Unnamed: 3,Urbano,Unnamed: 5,Unnamed: 6,Rural,Unnamed: 8,Unnamed: 9
A単o,,,,,,,,,
,Incidencia,Limite Inferior,Limite Superior,Incidencia,Limite Inferior,Limite Superior,Incidencia,Limite Inferior,Limite Superior
2014,"24,53","23,6","25,47","16,3","15,18","17,42","41,69","40,02","43,37"
2015,"22,01","20,96","23,05","14,44","13,27","15,61","38,04","36,05","40,04"
2016,"23,7","22,38","25,01","15,64","14,28","17,01","40,91","38,32","43,5"
2017,"23,09","21,59","24,59","14,64","13,37","15,91","40,98","38,22","43,74"

In [2]:
from bokeh.io import show
from bokeh.plotting import figure

In [5]:
from bokeh.plotting import figure, show, output_file

output_file('vbar.html')

p = figure(plot_width=400, plot_height=400)
p.vbar(x=[1, 2, 3], width=0.5, bottom=0,
       top=[1.2, 2.5, 3.7], color="firebrick")

show(p)

In [6]:
import pandas as pd
datos=pd.read_csv('casa.csv', header=0)
print (datos)

       Loja      15 asdsd  asdad
0  Loeoj145  asdqwd  asdq    NaN